doctype html
html
    head
        //- make the title dynamic 
        title #{Book}
        link(href="../public/stylesheets/style.css" rel="stylesheet")
    body
        //- also make this dynamic
        h1 #{Title}
        block main