p 
    label(for="title") Title
    input(type="title" type="text" value=book.title)
p
    label(for="author") Author
    input(type="author" type="text" value=book.author)
p
    label(for="genre") Genre
    input(type="genre" type="text" value=book.genre)
p
    label(for="year") Year
    input(type="year" type="text" value=book.year)