p 
    label(for="title") Title
    input(type="title" type="text" id="title")
p
    label(for="author") Title
    input(type="author" type="text" id="author")
p
    label(for="genre") Title
    input(type="genre" type="text" id="genre")
p
    label(for="year") Title
    input(type="year" type="text" id="year")
    
