.pagination
    each page, index in pageLinkArray
        span
            a.button(class='page index' href=`/books/search/?search=${search}&page=${index}`) #{index + 1}
    p.backButton
        a.button(href="/books/?page=0") Exit Search