body {
  font: 18px 'Alegreya Sans SC';
  background: url(../images/blue.jpg) no-repeat center center fixed;
  /* Center and scale the image */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-transform: capitalize;
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  text-align: left;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  padding-bottom: 50px;
  padding-left: 1em;
  color: whitesmoke;
}
.title {
  text-align: center;
  font-size: 2.5em;
}

::selection {
  background-color: cornflowerblue;
  color: white;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  background-color: hsla(214, 50%, 27%, 0.466);
}

a {
  color: antiquewhite;
  transition: 0.4s;
  text-decoration: none;
}

  a:hover {
    color: red;
  }


a.button, input[type=submit] {
  color: black;
  background: #ff414e;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  margin-top: 20px;
  cursor: pointer;
  border-bottom: solid 4px #dcdcdc;
  
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}


  a.button:hover, input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0);
    color: red;
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}


table {
  margin: 0 auto;
  padding: 60px, 60px;
  min-width: 600px;
  width: 60%;
  max-width: 850px;
	justify-content:center;
	align-items:center;
  background-color: hsla(220, 52%, 11%, 0.466);
}

th {
  margin: 0 auto;
  background: #ffcc00;
  letter-spacing: 0.05em;
  font-family: 'Alegreya Sans SC';
  font-weight: lighter;
  font-size: 1.50em;
  color: black;
  text-align: center;
  padding: 15px 50px 15px 15px;
}

tr {
  margin: 0 auto;
  min-height: 50px;
  background: rgba(0, 0, 0, 0);
}

tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0);
}

td {
  margin: 0 auto;
  color: antiquewhite;
  text-align: center;
  font-family: 'Alegreya';
  font-weight: lighter;
  font-size: 1.15em;
  letter-spacing: 0.03em;
  max-height:100%;
  white-space:nowrap;
  height: 5em;
}

label {
  
  padding-left: 1.25em;
  
  letter-spacing: 0.09em;
  font-size: 1em;
  color: white;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  
  transform: translate(-50px);
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1em;
  border-bottom:  solid white;
  transition: 0.4s;
  border-radius: 5px;
  
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
  background-color:hsla(220, 52%, 11%, 0.466); 
}

.error {
  color: rgb(236, 15, 15);
}

.search-form {
  padding: 10px 12px;
  font-size: 1em;
  position:absolute;
  top: 100px;
  right: 100px;
  
}

::placeholder{
  color:  white;
  font-size: 1em;
  letter-spacing: 0.05em;
}

.search-submit {
  outline: none;
  margin: 2px;
  padding: 10px 15px;
  border-radius: auto;
  border: 1px solid white;
  font-size: 1em;
  color: white;
  cursor: pointer;
  background-color: hsla(214, 50%, 27%, 0.466);
}